#content {
  width: 90%;
  margin: auto;
  height: 90vh;
  overflow: scroll;
}

#topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  width: 100%;
}

#tableContainer {
  width: 100%;
  height: 70vh;
  overflow: scroll;
  margin: auto;
}

#table {
  width: 100%;
}

.row {
  border: 1px solid lightgrey;
}

.theading {
  background-color: var(--cols-color);
  color: white;
  padding: 1rem;
  width: 10px;
}

.cols {
  background-color: whitesmoke;
  padding: 1rem;
  color: grey;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70svh;
  color: rgb(164, 164, 164);
}

#text {
  margin: 0;
}

#heading {
  color: grey;
  text-align: center;
  margin-top: 4rem;
}
